body {
    background-color: black;
}

/*Primary grid declarations*/

.datGrid {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 50px auto 50px;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

.headerGrid {
    display: grid;
    grid-area: header;
    background-color: lightskyblue;
    grid-template-areas: 
    "navBar";
}

.mainGrid {
    display: grid;
    grid-area: main;
    grid-template-areas: 
    "content";
}

.footerGrid {
    display: grid;
    grid-area: footer;
    background-color: lightskyblue;
    color: gray;
    text-align: center;
}

/*Nav grid declarations*/

.navGrid {
    display: grid;
    grid-template-columns: 20% auto auto auto auto auto 20%;
    grid-area: navBar;
    grid-template-areas:
    "empty home blog projects contact resume emptyTwo";
}

/*Nav Buttons*/

.navButton {
    margin: .7em;
    background-color: rgba(253, 245, 197, 0.8);
}

.homeNav {
    grid-area: home;
}

.blogNav {
    grid-area: blog;
}

.projectNav {
    grid-area: projects;
}

.contactNav {
    grid-area: contact;
}

.resumeNav {
    grid-area: resume;
}



