body {
    background-color: black
}

.article {
    border: 1px solid lightgrey;
    color: lightgoldenrodyellow;
    padding: .5em;
    margin: 1em;
}

#intro {
    font-size: 3em;
}

.navStyle {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;    
    background-color: lightskyblue;
}

li {
    display: inline;
}

.footer {
    text-align: center;
    padding: .3em;
    background-color: lightskyblue;
}
