.blogForm {
    display: grid;
    grid-area: content;
    grid-template-columns: 13% auto 13%;
    grid-template-rows: 17% auto 17%;
    grid-template-areas: 
    ". . ."
    ". blog-entry ."
    ". . .";

}

.blogEntry {
    display: grid;
    grid-area: blog-entry;
    background: lightskyblue;
    justify-content: center;
}

.hiddenMessage {
    display: grid;
    grid-area: blog-entry;
    background: lightskyblue;
    justify-content: center;
}

.hideIt {
    visibility: hidden;
}
